[submodule "vue/vue-skeleton"]
	path = vue/vue-skeleton
	url = git@github.com:hjeti/vue-skeleton.git
[submodule "vue/vue-realworld-example-app"]
	path = vue/vue-realworld-example-app
	url = git@github.com:gothinkster/vue-realworld-example-app.git
[submodule "vue/docker-vuejs"]
	path = vue/docker-vuejs
	url = git@github.com:zimdo/docker-vuejs.git
