[submodule "vue/vue-skeleton"]
	path = vue/vue-skeleton
	url = git@github.com:hjeti/vue-skeleton.git
[submodule "vue/vue-realworld-example-app"]
	path = vue/vue-realworld-example-app
	url = git@github.com:gothinkster/vue-realworld-example-app.git
[submodule "vue/docker-vuejs"]
	path = vue/docker-vuejs
	url = git@github.com:zimdo/docker-vuejs.git
[submodule "vue/koa-vue-notes-web"]
	path = vue/koa-vue-notes-web
	url = git@github.com:johndatserakis/koa-vue-notes-web.git
[submodule "vue/koa-vue-notes-api"]
	path = vue/koa-vue-notes-api
	url = git@github.com:johndatserakis/koa-vue-notes-api.git
[submodule "tools/gitwatch"]
	path = tools/gitwatch
	url = git@github.com:gitwatch/gitwatch.git
[submodule "php/php-crud-api"]
	path = php/php-crud-api
	url = git@github.com:mevdschee/php-crud-api.git
[submodule "php/php-crud-ui"]
	path = php/php-crud-ui
	url = git@github.com:mevdschee/php-crud-ui.git
[submodule "php/php-api-auth"]
	path = php/php-api-auth
	url = git@github.com:mevdschee/php-api-auth.git
[submodule "node/js-crud-api"]
	path = node/js-crud-api
	url = git@github.com:mevdschee/js-crud-api.git
[submodule "tools/strapdown"]
	path = tools/strapdown
	url = git@github.com:arturadib/strapdown.git
[submodule "tools/flickr-uploader"]
	path = tools/flickr-uploader
	url = git@github.com:trickortweak/flickr-uploader.git
[submodule "info/free-programming-books"]
	path = info/free-programming-books
	url = git@github.com:EbookFoundation/free-programming-books.git
[submodule "tools/loltinder"]
	path = tools/loltinder
	url = git@github.com:deftx/loltinder.git
[submodule "php/phreeze"]
	path = php/phreeze
	url = git@github.com:jasonhinkle/phreeze.git
[submodule "node/epilogue"]
	path = node/epilogue
	url = git@github.com:dchester/epilogue.git
[submodule "node/megaboilerplate"]
	path = node/megaboilerplate
	url = git@github.com:sahat/megaboilerplate.git
[submodule "node/myRESTApp"]
	path = node/myRESTApp
	url = git@github.com:arvindr21/myRESTApp.git
[submodule "node/sequelize-restful"]
	path = node/sequelize-restful
	url = git@github.com:sequelize/sequelize-restful.git
[submodule "tools/magicplaylist"]
	path = tools/magicplaylist
	url = git@github.com:loverajoel/magicplaylist.git
